version: '3'

services:
  dw-findingstore:
    image: dw-findingstore
    container_name: dw-findingstore
    build: .
    ports:
      - 5000:5000
    networks:
      - services

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.5.3
    container_name: elasticsearch
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - services

volumes:
  esdata1:
    driver: local

networks:
  services: