<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Patua+One">
  <link href="//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <script>
    $(document).ready(function () {
          $('.custom-file-input').on('change', function () {
              var label = $(this).parent().find("label");
              var fileName = $(this).val();
              label.text(fileName)
          });
      });
  </script>

  <title>Findingstore</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Findingstore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/create">Create</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/import">Import</a>
              </li>
          </ul>
      </div>
  </nav>

  <div class="container justify-content-center text-center">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Patua One', cursive;">
        <p>
          <center>
            <font size="8">Import a Finding</font>
          </center>
        </p>
      </div>
    </div>

    <form action="/card/import" method="post" enctype="multipart/form-data">
      <div class="form-row">
        <div class="col">
          <div class="form-group" id="chooserGroup">
            <label for="chooserGroup">Attached Evidence</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile1" name="customFile1">
              <label class="custom-file-label" for="customFile1">Choose file</label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-row text-center">
        <div class="col">
          <div class="input-group-btn">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
          </div>
        </div>
        <div class="col">
          <a class="btn btn-secondary btn-lg" href="/">Back</a>
        </div>
      </div>
    </form>

    <br><br>
    <footer class="footer">
      <p>Open Source.</p>
    </footer>

  </div>
</body>

</html>