<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Patua+One">
  <link href="//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Findingstore</title>

</head>

<body>

  <div class="container justify-content-center text-center">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Patua One', cursive;">
        <p>
          <center>
            <font size="8">Welcome to Findingstore</font>
          </center>
        </p>
      </div>
      <div style="font-family: 'Open Sans', sans-serif;">
        <p>
          <center>
            <font size="6">What would you like to do with your findings today?</font>
          </center>
        </p>
      </div>
    </div>
  

  
    <div class="row">
      <div class="col-sm">
        <a class="btn btn-primary" href="/search">Search</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-secondary" href="/create">Create</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="/import">Import</a>
      </div>
    </div>

    <br><br>
    <footer class="footer">
      <p>Open Source.</p>
    </footer>

  </div>
</body>

</html>